.wrapper{
    display: grid;
    grid-template-columns:repeat(10, 1fr);
    grid-template-rows:repeat(100, 30px);
}

header{
    grid-column: 2/10;
    background-color: rgb(35, 180, 61);
    grid-row: 1/4;
    font-size: xx-large;
    font-weight: 500;
    text-align: center;
    align-content: center;
}

nav{
    grid-column: 2/10;
    background-color: lightcoral;
    grid-row: 4/5;
    align-content: center;
}

article{
    background-color: rgb(35, 180, 61);
    grid-column: 2/7;
    grid-row: 5/23;
}
article img{
    padding: 25px;
    height: 75%;
    width: auto;
}

aside{
    background-color: rgb(143, 143, 255);
    grid-column: 7/10;
    grid-row: 5/25;  
    font-size: larger;
}

footer{
    background-color: lightcoral;
    grid-column: 2/10;
    grid-row: 26/27;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    article{
        grid-column: 2/9;
        grid-row: 5/25;
    }
    
    article img{
        padding: 15px;
        height: auto;
        width: 80%;
    }

    aside{
        background-color: rgb(143, 143, 255);
        grid-column: 2/10;
        grid-row: 25/35;  
    }
    footer{
        grid-row: 37/42;
    }
}
